/* -----Mobile Global Styles----- */

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 10px;
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
}

b {
  font-weight: bold;
}

h1 {
  font-family: "Roboto";
  font-size: 3.906rem;
  font-weight: bold;
  color: #444444;
  line-height: auto;
  margin-bottom: 1.6rem;
}

h2 {
  font-family: "Roboto";
  font-size: 2.5rem;
  color: #444444;
  margin-bottom: 1.6rem;
}

h3 {
  font-family: "Roboto";
  font-size: 2rem;
  font-weight: bold;
  color: #FF4D82;
  line-height: 3rem;
  margin-bottom: 1.6rem;
}

p {
  font-family: "Lora";
  font-size: 1.6rem;
  color: #444444;
  line-height: 3rem;
  margin-bottom: 3.2rem;
}

ul {
  font-family: "Lora";
  font-size: 1.6rem;
  color: #444444;
  line-height: 3rem;
  list-style-position: inside;
  }

  table {
  font-family: "roboto", sans-serif;
  border-collapse: collapse;
  width: 100%;
  font-size: 16px;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #D5DDDB;
}

/* -----Heading/Hero Section----- */

header {
  width: 100vw;
  height: 100vh;
  min-height: 3.75rem;
  background-image: linear-gradient(119.02deg, #185A9D 0.32%, #43CEA2 100%);
}

.hero-section {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 85%;
  max-width: 92.8rem;
  min-width: 34.5rem;
  margin: auto;
  justify-content: space-between;
}

.intro-top h1, .intro-top p, .intro-bottom p {
    color: white;
  }

nav {
  display: grid;
  grid-template-columns: 1fr auto;
  justify-items: start;
  padding: 1.6rem 0;
}

.main-nav {
  align-items: center;
  display: grid;
  grid-template-columns: auto auto auto;
  grid-column-gap: 3.2rem;
  /*font-size: 1.6em;*/
  min-height: 50px;
}

.main-nav li {
  text-decoration: none;
  list-style-type: none;
}

.nav-links {
    font-family: "Roboto";
    text-decoration: none;
    color: white;
}

.nav-links:hover {
    color: #E34373;
    transition: 0.2s;
  }

  .nav-links:active {
    color: #E34373;
  }

.fadeInUp {
    animation:fadeInUp 1.5s ease backwards;
  }

  .animation-delay {
    animation-delay: 0.5s;
  }

  @keyframes fadeInUp {
  0%{transform:translate(0px, 16px); opacity: 0;}
  100%{transform:translate(0px, 0); opacity: 1;}
  }

.full-pink-btn {
  display: inline-block;
  text-decoration: none;
  color: white;
  font-weight: bold;
  background: #FF4D82;
  padding: 1.2rem 2.4rem;
  border-radius: 4rem;
  /*margin: 24px 0;*/
  transition: 0.2s;
  font-size: 16px;
  font-family: "Roboto";
 /* width: 100%;
  max-width: 54rem;*/
  text-align: center;
}

.full-pink-btn:hover {
  background: #E34373;

  }

.intro-bottom {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    margin-bottom: 24px;
    }

.see-case-studies{
      margin-bottom: 0px;
      font-family: "Roboto";
    }

.see-case-studies a, .see-case-studies a:visited {
  text-decoration: none;
  color: inherit;
}

  .fa-chevron-down {
    color: white;
    }


/* -----Case Studies Section ----- */
.case-studies-flex {
  display: grid;
  width: 100vw;

  height: 720px;

  background: white;
  grid-template-columns: 1fr;
  /*grid-template-rows: 120px auto;*/
  justify-content: center;
}

/*.case-studies-flex h2 {
  place-self: center;
  font-weight: normal;
  margin-bottom: 32px;
}*/

.case-study-container {
  width: 85%;
  max-width: 92.8rem;
  min-width: 34.5rem;
  margin: auto;
  display:flex;
  flex-direction: column;
}

.case-study-container h4::before {
  /*place-self: center;
  margin-bottom: 32px;*/
  content: '';
    display: inline-block;
    width: 50px;
    height: 1px;
    background: #555;
    vertical-align: top;
    margin-top: 9px;
    margin-right: 10px;

}

.case-study-container h4 {
  margin-bottom: 32px;
}


.project-1 {
    display: flex;
    flex-direction: column;
    margin: 3.2rem auto;
    width: 100%;
    max-width: 92.8rem;
    min-width: 34.5rem;
    align-self: center;
  }

.project-description {
  width: 100%;
  max-width: 544px;
  flex: 1;
  margin-bottom: 3.2rem;
}

.project-description h2 {
  margin-bottom: 0;
}

.project-image {
  flex: 1;
  width: 100%;
  max-width: 544px;
  height: auto;


}
  .project-image img {
  width: 100%;
  border-radius: 10px;
  /*height: auto;
  object-fit: contain;*/
}



/* -----Mobile Footer----- */

  footer {
    background: #F3F3F3;
    width: 100vw;
    height: 20.6rem;
  }

.footer-wrapper {
  width: 85%;
  margin: 0 auto;
  height: 100%;
  display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    flex-shrink: 0;
}

  footer p {
    margin-bottom: 0px;
  }

  .footer-header{
    font-family: "roboto";
    font-size: 2.25rem;
    text-align: center;
  }

  .footer-links {
    align-items: center;
    display: flex;
    flex-direction: row;
    text-decoration: none;
    list-style-type: none;
    width: 30.4rem;
    justify-content: space-evenly;
  }

  .footer-icon i{
    color: #444444;
    font-size: 36px;
  }

  .footer-text {
    font-family: "roboto";
    font-size: 1.6rem;
    text-align: center;
  }


/* -----Desktop index page----- */

@media screen and (min-width: 991px) {
  h1 {
    font-size: 54.93px;
    line-height: 42px;
  }

  h2 {
    font-size: 35.16px;
  }

  h3 {
    font-size: 22.5px;
  }

  p {
    font-size: 18px;
  }

  ul {
    font-size: 18px;
  }
  .from-columbia {
    font-size: 35.16px;
  }
  .slogan {
    font-size: 22.5px;
  }

  .project-1 {
    flex-direction: row;
  }

  .case-studies-flex img {
  align-self: flex-end;
  }

}



/* -----Mobile About Me page----- */

.navbar-wrapper {
  background-color: #034F7D;
  height: 8.8rem;
  width: 100vw;

}

.navbar-wrapper nav {
 margin: auto;
 max-width: 92.8rem;
 min-width: 34.5rem;
 width: 85%;
}

.center-wrapper {
  display: flex;
  justify-content: center;
  width: 85%;
  max-width: 112rem;
  min-width: 34.5rem;
  margin: 0 auto;
}

.about-content {
  display: flex;
  flex-direction: column;
  /*justify-content: center;*/
  width: 100%;

}

.about-header {
    margin: 48px 0 32px 0;
    width: 100%;
  }

.about-two-columns {
  display: flex;
  /*flex-wrap: wrap-reverse;*/
  flex-direction: row;
  width: 100%;
  align-content: center;
  justify-content: space-between;
}

.column-left {
    /*justify-content: flex-start;*/
    width: 100%;
    max-width: 57.6rem;
  }

  .column-right {
    display: flex;
    flex-direction: column;
    width: 85%;
    height: auto;
    max-width: 44.8rem;
    }

  .column-right img {
    width: 100%;
    height: auto;
    max-width: 448px;
    min-width: 16.3rem;

  }

.img-caption {
  align-self: center;
  font-family: "Roboto";
  font-size: 16px;
  color: #5f5f5f;
  }

@media screen and (max-width: 1000px){

  .about-header {
      margin: 48px 0 36px 0;
    }

  .about-two-columns {
    flex-direction: column-reverse;
    align-items: center;
    margin: 0 auto;


  }
}

/* -----BentoBin Project Page: Mobile----- */
.top-container-project {
  background-color: #37CFB1;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  height: 560px;
}

.top-container-project nav {
 margin: 0px auto;
 max-width: 92.8rem;
 min-width: 34.5rem;
 width: 85%;
}

.laptop-no-bg {
    position: absolute;
    margin-top: 96px;
  }

.laptop-no-bg img {
  width: 100%;
  max-width: 800px;

}

@media screen and (max-width: 575px) {
 .top-container-project {
   height: 420px;
  }
}

@media screen and (max-width: 375px) {
  .top-container-project {
   height: 360px;
  }
}


.button-center {
  align-self: center;
}

.button-flex {
  display: grid;
  justify-content: space-around;
  margin: auto;
  width: 85%;
  max-width: 500px;
  grid-template-columns: 1fr 1fr;
  grid-gap: 24px;
}

@media screen and (max-width: 650px) {

  .button-flex {
    display: flex;
    width: 85%;
    max-width: 1110px;
    margin: auto;
    flex-direction: column;

    align-content: center;
    height: 116px;
  }

  .button-flex a {
    align-self: center;
  }
}


main {
    width: 100vw;
}


 .justify-center-wrapper {
   display: flex;
   justify-content: center;
   margin-top: 5%;
  }

  .project-headline {
    display: flex;
    flex-direction: column;
    width: 85%;
    max-width: 736px;
    padding-bottom: 64px;
}

  .project-headline p, .project-headline h1 {
    text-align: center;
  }

.blue-background-section {
    background-color: #F9FCFF;
    padding: 32px 0px;;
  }



.overview-flex {
    display: flex;
    width: 85%;
    max-width: 736px;
    justify-content: space-between;
    margin: auto;

  }

  .overview-container {
    text-align: center;
    width: 192px;
    list-style-type: none;
    margin: 0 auto;
  }

  .overview-list {
    list-style-type: none;
  }

@media screen and (max-width: 480px) {
  .overview-flex {
    flex-direction: column;
    align-content: flex-start;
  }

  .overview-container:nth-child(n+2) {
    margin-top: 32px;
  }
}

.regular-section {
    width: 85%;
    max-width: 736px;
    margin: auto;
    padding: 36px 0;
  }

@media screen and (min-width: 991px) {
  .regular-section {
    padding: 80px 0;
  }
  .project-headline {
    margin-top: 8px;
  }
}

  .regular-section img{
    margin-bottom: 16px;
  }

.design-process-container {
    display: flex;
    background: #185A9D;
    height: 96px;
    justify-content: center;
    align-items: center;
  }

.design-process-header {
    color: white;
    font-family: "Roboto";
    font-size: 30px;
    margin: 0px;
  }

@media screen and (min-width: 991px){
  .design-process-header {
    font-size: 54.93px;
    margin: 0px;
  }
}

.pink-number {
    color: #FF4D82;
    font-weight: bold;
  }


  .survey-results {
    padding: 32px;
    width: 85%;
    max-width: 800px;
    background: #FFFFFF;
    border: 1px solid #E4E4E4;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    margin: auto;
  }

  .card-flex-box {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

@media screen and (max-width: 455px) {
  .card-flex-box {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .survey-card:nth-child(n+2) {
    padding-top: 28px;
  }
}

  .survey-card {
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 160px;
  }

  .survey-card p {
    margin: 0px;
  }

  .percent-large {
    font-size: 35.16px;
  }

.image-contain {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .images-row {
  display: grid;
  align-items: center;
  width: 85%;
  max-width: 1110px;
  margin: 0 auto;
  justify-content: space-between;
  padding: 32px 0;
}

.images-row img {
  grid-row: 1;
  width: 100%;
  max-width: 540px;
  /*max-height: 336px;
  height: 100%;*/
}

.table-contain {
  display: flex;
  width: 85%;
  max-width: 1110px;
  margin: 0 auto;
  flex-direction: column;
  justify-content: center;
}

.table-contain h4 {
  align-self: center;
}

tr:first-of-type {
  background-color: #034F7D;
  color: white;
}


.self-center {
  justify-content: center;
}

.wireframe-sketch img {
  max-width: 540px;
  width: 100%;
  max-height: 336px;
  height: 100%
}

.logo-card {
  grid-row: 1;
  width: 100%;
  max-width: 256px;
}

@media screen and (max-width: 991px){
  .images-row {
    justify-content: center;
  }
  .images-row img {
  grid-column: 1;
  grid-row: auto;
  width: 100%;
  }

  .logo-card {
  grid-column: 1;
  grid-row: auto;
  width: 100%;
  max-width: 256px;
  }

  .logo-card:nth-child(n+2){
    margin-top: 16px;
  }

  .logo-card p {
    margin-bottom: 8px;
  }
}


.pref-test {
  display: grid;
  align-content: center;
  width: 85%;
  max-width: 1110px;
  margin: 0 auto;
  justify-content: space-between;
  /*padding: 32px 0;*/
  grid-template-columns: 1fr 1fr;
  /*grid-row-template: 1fr 1fr;*/
  grid-row-gap: 32px;
  grid-column-gap: auto;
}

.pref-column {
  /*grid-column: 2;
  grid-row: auto;*/
  width: 100%;
  max-width: 540px;
  text-align: center;
}

.pref-column img{
  width: 100%;
  max-width: 540px;
}

@media screen and (max-width: 991px) {
  .pref-test{
    align-items: center;
    justify-content: center;
    grid-template-columns: 1fr;
  }
  .pref-column {

    justify-self: center;
  }
  .pref-column p {
    margin-bottom: 8px;
  }
}

.persona-contain {
  display: grid;
  width: 85%;
  max-width: 1110px;
  margin: auto;
  grid-template-columns: 1fr;
  grid-row-gap: 32px;
  justify-content: center;
  align-content: center;
}

.persona-card {
  width: 100%;
  max-width: 543px;
  border: 1px solid #E4E4E4;
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  text-align: center;
  justify-self: center;
  padding: 16px 8px;
  background-color: white;
}

.persona-card p {
  margin-bottom: 24px;
}



h4 {
  font-family: "roboto";
  font-size: 18px;
  color: #444444;
  font-weight: bold;
}


.persona-card h3 {
  margin: 8px 0 0 0;
}

.persona-card img {
  width: 100%;
  max-width: 160px;
  margin-top: 16px;
  margin-bottom: 8px;
}

.logo-width img {
  max-width: 95px;
}


.persona-card ul {
  margin-bottom: 24px;
}


@media screen and (min-width: 991px) {
  .persona-contain {
    display: grid;
    width: 85%;
    max-width: 1110px;
    margin: auto;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 32px;
    justify-content: center;
  }

  .column-3 {
    grid-template-columns: 1fr 1fr 1fr;
  }

}

.single-img-wrapper {
  display: flex;
  flex-direction: column;
  width: 85%;
  max-width: 1110px;
  /*height: auto;*/
  margin: 0 auto;
  align-content: center;
}

.single-img-wrapper img {
  width: 100%;
  height: auto;
  object-fit: contain;
}

.single-img-wrapper h4 {
  margin-bottom: 32px;
}

.single-img-wrapper h4::before {
  /*place-self: center;
  margin-bottom: 32px;*/
  content: '';
    display: inline-block;
    width: 50px;
    height: 1px;
    background: #555;
    vertical-align: top;
    margin-top: 9px;
    margin-right: 10px;
}
